# we try to aoid adding files to the docker images that change often
# or that are not needed for running the docker image
# tis greatly reduces the amount of times we need to rerun `npm install` when building image locally
# https://codefresh.io/blog/not-ignore-dockerignore/
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

*.git
ant-design/.git
cn.eslint.org/.git
cn.vuejs.org/.git
cn.vuejs.org/v2
element/.git
element/1.*
element/2.*
expressjs.com/.git
koajs.com/.git
react-native/.git
jestjs.io/.git
sequelize.org/.git
typeorm.github.io/.git
zh-hans.reactjs.org/.git

# consider them hidden
.*
# you can add exceptions like in .gitignore to maintain a whitelist:
# e.g.
!.babelrc
!.eslintrc
!.eslintignore
!.stylelintrc
!.flowconfig
!.jest.config.js
!.jestEnvironment.js

# do not copy over node_modules we will run `npm install` anyway
node_modules

# output from test runs and similar things
*.log
*.pid
log
coverage/
*.rdb
.vscode/
.git
*.log

# IDE config files
jsconfig.json
*.iml

# let's not get to recursive ;)
Dockerfile*
docker-compose*.yaml

README.md