# we try to aoid adding files to the docker images that change often
# or that are not needed for running the docker image
# tis greatly reduces the amount of times we need to rerun `npm install` when building image locally
# https://codefresh.io/blog/not-ignore-dockerignore/
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

*.git
ant.design/code/.git
cn.vuejs.org/code/.git
deno-manual-cn/code/.git
element.eleme.io/code/.git
element.react/code/.git
expressjs.com/code/.git
jestjs.io/code/.git
koajs.com/code/.git
react-native/code/.git
sequelize.org/code/.git
typeorm.github.io/code/.git
webpack.js.org/code/.git
zh-hans.reactjs.org/code/.git

# consider them hidden
.*
# you can add exceptions like in .gitignore to maintain a whitelist:
# e.g.
!.babelrc
!.eslintrc
!.eslintignore
!.stylelintrc
!.flowconfig
!.jest.config.js
!.jestEnvironment.js

# do not copy over node_modules we will run `npm install` anyway
node_modules

# output from test runs and similar things
*.log
*.pid
log
coverage/
*.rdb
.vscode/
.git
*.log

# IDE config files
jsconfig.json
*.iml

# let's not get to recursive ;)
Dockerfile*
docker-compose*.yaml

README.md