[submodule "jestjs.io"]
	path = jestjs.io
	url = https://github.com/jaywcjlove/doc-static.git
	branch = jestjs.io
[submodule "typeorm.github.io"]
	path = typeorm.github.io
	url = https://github.com/jaywcjlove/doc-static.git
	branch = typeorm.github.io
[submodule "ant.design"]
	path = ant.design
	url = https://github.com/jaywcjlove/doc-static.git
	branch = ant.design
[submodule "koajs.com"]
	path = koajs.com
	url = https://github.com/jaywcjlove/doc-static.git
	branch = koajs.com
[submodule "zh-hans.reactjs.org"]
	path = zh-hans.reactjs.org
	url = https://github.com/jaywcjlove/doc-static.git
	branch = zh-hans.reactjs.org
[submodule "element.eleme.io"]
	path = element.eleme.io
	url = https://github.com/jaywcjlove/doc-static.git
	branch = element.eleme.io
[submodule "cn.vuejs.org"]
	path = cn.vuejs.org
	url = https://github.com/jaywcjlove/doc-static.git
	branch = cn.vuejs.org
[submodule "sequelize.org"]
	path = sequelize.org
	url = https://github.com/jaywcjlove/doc-static.git
	branch = sequelize.org
[submodule "expressjs.com"]
	path = expressjs.com
	url = https://github.com/jaywcjlove/doc-static.git
	branch = expressjs.com
[submodule "react-native"]
	path = react-native
	url = https://github.com/jaywcjlove/react-native-doc.git
	branch = gh-pages
[submodule "element.react"]
	path = element.react
	url = https://github.com/jaywcjlove/doc-static.git
	branch = element.react
