[submodule "jestjs.io/code"]
	path = jestjs.io/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = jestjs.io
[submodule "typeorm.github.io/code"]
	path = typeorm.github.io/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = typeorm.github.io
[submodule "koajs.com/code"]
	path = koajs.com/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = koajs.com
[submodule "ant.design/code"]
	path = ant.design/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = ant.design
[submodule "zh-hans.reactjs.org/code"]
	path = zh-hans.reactjs.org/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = zh-hans.reactjs.org
[submodule "element.eleme.io/code"]
	path = element.eleme.io/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = element.eleme.io
[submodule "cn.vuejs.org/code"]
	path = cn.vuejs.org/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = cn.vuejs.org
[submodule "sequelize.org/code"]
	path = sequelize.org/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = sequelize.org
[submodule "expressjs.com/code"]
	path = expressjs.com/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = expressjs.com
[submodule "gh-pages/code"]
	path = gh-pages/code
	url = https://github.com/jaywcjlove/react-native-doc.git
	branch = gh-pages
[submodule "element.react/code"]
	path = element.react/code
	url = https://github.com/jaywcjlove/doc-static.git
	branch = element.react
